import from "./index.css"

<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/20c5629a29.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container">
        <a class="navbar-brand" href="#">
          <div class="d-flex justify-content-center flex-row">
            <div>
              <h1 class="eamil">Email:Info@Restaurant.com</h1>
            </div>
            <div>
              <p class="phone">Telephone:+1 800 234 5678</p>
            </div>
          </div>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-link active" id="navItem1" href="#wcuSection">
              HOME
              <span class="sr-only">(current)</span>
            </a>
            <a class="nav-link" href="#exploreMenuSection" id="navItem2"
              >ABOUT</a
            >
            <a class="nav-link" href="#deliveryPaymentSection" id="navItem3"
              >OFFERS</a
            >
            <a class="nav-link" href="#followUsSection" id="navItem4">MENU</a>
            <a class="nav-link" href="#followUsSection" id="navItem5">TEAM</a>
            <a class="nav-link" href="#followUsSection" id="navItem6">BLOG</a>
            <a class="nav-link" href="#followUsSection" id="navItem7"
              >GELLERY</a
            >
            <a class="nav-link" href="#followUsSection" id="navItem8"
              >CONTACT</a
            >
          </div>
        </div>
      </div>
    </nav>
    <div
      class="banner-section-bg-container d-flex justify-content-center flex-column"
    >
      <div class="text-center">
        <h1 class="banner-heading mb-3">our menus</h1>
        <p class="banner-caption mb-4">SEE WHAT'S NEW TODAY</p>

        <button class="custom-outline-button">TODAYS MENU</button>
      </div>
    </div>
    <div>
      <h1 class="our">Our story</h1>
      <p class="para">
        Menu non elit libero Quisque massa porta ut placer lentesque non diam
        Nam convallis porta rhoncus mascecenas varius eget turpis suscipit porta
        sapien tinc mauris tempor libeo fringilla orci vivrra faucibue fringilla
        orci vivrra.
      </p>
      <div class="img">
        <img
          src="https://res.cloudinary.com/dy0otvnxb/image/upload/v1693460354/about_sign_jyfshw.png"
          class="img"
        />
      </div>
      <img
        src="https://res.cloudinary.com/dy0otvnxb/image/upload/v1693459498/our_story_background_rsvhq9.png"
        class="img1"
      />
    </div>
    <div>
      <h1 class="heading">Special Package</h1>
      <div class="img2">
        <img
          src="https://res.cloudinary.com/dy0otvnxb/image/upload/v1693461044/red_seperator_ms2qlb.png"
        />
      </div>
      <img
        src="https://res.cloudinary.com/dy0otvnxb/image/upload/v1693461473/pexels-robin-stickel-70497_1_ycatjw.jpg"
        class="img3"
      />
    </div>
    <div>
      <h1 class="heading">Today's Menu</h1>
      <button class="custom">ALL</button>
      <button class="custom">BREAKFAST</button>
      <button class="custom">LUNCH</button>
      <button class="custom">DINNER</button>
      <button class="custom">COFFE</button>
      <button class="custom1">SNACKS</button>
    </div>
    <div>
      <div class="shadow menu-item-card p-3 mb-3">
        <img
          src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-ginger-fried-img.png"
          class="menu-item-image w-100"
        />
        <h1 class="menu-card-title">Non-Veg Starters</h1>
      </div>
      <div class="shadow menu-item-card p-3 mb-3">
        <img
          src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-veg-starters-img.png"
          class="menu-item-image w-100"
        />
        <h1 class="menu-card-title">Veg Starters</h1>
      </div>
    </div>
    <div>
      <h1 class="heading">Our Chefs</h1>
      <div class="img2">
        <img
          src="https://res.cloudinary.com/dy0otvnxb/image/upload/v1693461044/red_seperator_ms2qlb.png"
        />
      </div>
      <div class="d-flex justify-content-center flex-row">
        <div>
          <img
            src="https://tse1.mm.bing.net/th?id=OIP.EeYVQmrl6Ab_uKyWLFHgYgHaEK&pid=Api&rs=1&c=1&qlt=95&w=202&h=113"
            class="image"
          />
          <p>Mark Angilila</p>
        </div>
        <div>
          <div>
            <img
              src="https://tse1.mm.bing.net/th?id=OIP.EptzqWDYVbChuLrA70ytewAAAA&pid=Api&rs=1&c=1&qlt=95&w=66&h=113"
            />
            <p>Angle Meskat</p>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h1 class="heading">gellery</h1>
      <div class="img2">
        <img
          src="https://res.cloudinary.com/dy0otvnxb/image/upload/v1693461044/red_seperator_ms2qlb.png"
        />
      </div>
    </div>
    <div class="img2 mt-5">
      <img
        src="https://res.cloudinary.com/dy0otvnxb/image/upload/v1693461026/main_logo_black_nfults.png"
      />
      <h1 class="footer-section-mail-id">
        20,floor, Queenslad Buliding. 60 california street california USA
      </h1>
      <div>
        <p class="footer">hello@dawat.com</p>
        <p class="footer">+88 000 0000 1111</p>
      </div>
    </div>
  </body>
</html>
